.pagesContainer {
  display: flex;
  font-size: 0.8rem;
  padding-bottom: 1.2rem;
  color: white;
}

.pagesBtn {
  color: var(--app-blue);
  font-size: 0.7rem;
  border: none;
  margin-right: 5px;
  background-color: transparent;
}

.pagesBtn:hover:not(.currentPage) {
  cursor: pointer;
  background-color: var(--app-gray);
  color: white;
}

.pagesBtn:disabled {
  visibility: hidden;
}

.pages {
  margin: 1.2rem 0 0 1rem;
  font-weight: 400;
}

.currentPage {
  background-color: var(--app-blue);
  color: var(--app-dark-blue);
}
