.pages-container {
  display: flex;
  font-size: 0.8rem;
  color: white;
}

.pages-btn {
  color: var(--app-blue);
  font-size: 0.7rem;
  border: none;
  margin-right: 5px;
  background-color: transparent;
}

.pages-btn:hover:not(.pages-current-page) {
  cursor: pointer;
  background-color: var(--app-gray);
  color: white;
}

.pages-btn:disabled {
  visibility: hidden;
}

.pages-number {
  margin: 1.2rem 0 0 1rem;
  font-weight: 400;
}

.pages-current-page {
  background-color: var(--app-blue);
  color: var(--app-dark-blue);
}
