::placeholder {
  color: var(--app-blue);
}

.search-box {
  font-family: 'Montserrat';
  outline: none;
  font-size: 1rem;
  font-weight: 200;
  width: 18rem;
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: 0.01rem solid var(--app-blue);
  background-color: transparent;
  color: white;
  padding-bottom: 0.3rem;
}

.search-box:focus {
  outline: none;
}

.search-clear-btn {
  margin-left: -1.5rem;
  color: var(--app-gray);
  background-color: transparent;
}

.search-hidden-btn {
  visibility: hidden;
}

.search-icon {
  color: var(--app-blue);
  margin-right: 1rem;
}
